{% comment %} @info
This module renders a JSON object that represents
product data in a consistent way. Primarily, it is
used to pass product data to Vue.js components.

API:
@param {String} mod_item The Shopify product to represent
@param {Boolean} mod_encode Should the JSON string be filtered via "url_encode"?

Example:
<div
  is="product-card"
  product="{% include 'product-json', mod_item: mod_product %}"
  decode="true"
  inline-template></div>
{% endcomment %}
{%- assign mod_item = mod_item | default: false -%}
{%- assign mod_encode = mod_encode | default: false -%}
{%- capture mod_tags -%}
  {%- for tag in mod_item.tags -%}
    {%- if tag contains '-' -%}
      {%- assign mod_split_tags = tag | split: '-' -%}
      ,"{{mod_split_tags[0]}}:{{mod_split_tags | join: '-' | remove: mod_split_tags[0] | remove_first: '-'}}"
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- assign mod_metafields = mod_item.metafields -%}

{%- assign mod_subscription_product = mod_metafields.subscriptions -%}
{%- assign mod_subscription_id = mod_subscription_product.subscription_id -%}
{%- assign mod_shipping_interval_unit_type = mod_subscription_product.shipping_interval_unit_type | default: '' -%}
{%- assign mod_shipping_interval_frequency = mod_subscription_product.shipping_interval_frequency | default: '' -%}
{%- assign mod_has_subscription = mod_subscription_product.has_subscription | default: 'false' -%}
{%- assign mod_discount_percentage = mod_subscription_product.discount_percentage | round: 2 -%}
{%- assign mod_discount_floor = mod_subscription_product.discount_percentage | floor -%}
{%- if mod_discount_percentage == mod_discount_floor -%}
  {%- assign mod_discount_percentage = mod_discount_floor -%}
{%- endif -%}

{%- assign mod_one_time_link = mod_metafields.bundle.one_time_link | default: false  -%}
{%- assign mod_subscribe_link = mod_metafields.bundle.subscribe_link | default: false  -%}

{%- capture mod_json -%}
{
  "id": "{{ mod_item.id }}",
  "images": [{%- for image in mod_item.images -%}{"attached_to_variant": {{ image.attached_to_variant? | json }},"src": "{{ image.src | img_url: 'master' }}","id": {{ image.id }},"alt": {{ image.alt | json }},"width": {{ image.width | json }},"height": {{ image.height | json }}}{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "images_variants": [{%- for image in mod_item.images -%}{{ image.variants | json }}{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "variants": [
    {%- for mod_variant in mod_item.variants -%}
      {
        "available": {{ mod_variant.available | json }},
        "title": "{{ mod_variant.title }}",
        "id": "{{ mod_variant.id }}",
        "image": {
          "id": {{ mod_variant.image.id | json }},
          "src": "{{ mod_variant.image.src | img_url: 'master' }}",
          "alt": "{{ mod_variant.image.alt }}"
        },
        "price": "{{ mod_variant.price }}",
        "compare_at_price": "{{ mod_variant.compare_at_price }}",
        "option1": {{ mod_variant.option1 | default: false | json }},
        "option2": {{ mod_variant.option2 | default: false | json }},
        "option3": {{ mod_variant.option3 | default: false | json }},
        "has_engraving": {% if mod_variant.metafields.global.LASER_ENGRAVING == 'true' %}true{% else %}false{% endif %},
        "has_monogram": {% if mod_variant.metafields.global.MEDALLION == 'true' %}true{% else %}false{% endif %},
        "inventory_quantity": {{ mod_variant.inventory_quantity | json }},
        "barcode": {{ mod_variant.barcode | json }},
        "discount_variant_id": {{ mod_variant.metafields.subscriptions.discount_variant_id | default: 0 }},
        "discount_variant_price": {{ mod_variant.metafields.subscriptions.discount_variant_price | default: 0 }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "available": {%- if mod_item.available -%}true{%- else -%}false{%- endif -%},
  "handle": "{{ mod_item.handle }}",
  "type": "{{ mod_item.type }}",
  "title": "{{ mod_item.title }}",
  "featuredImage": "{{ mod_item.featured_image | img_url: 'master' }}",
  "tags": [{%- for tag in mod_item.tags -%}"{{ tag }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "price": "{{ mod_item.price }}",
  "description": "{{ mod_item.description | strip_html | strip_newlines | escape }}",
  "options": [{%- for option in mod_item.options_with_values -%}{"name": "{{option.name}}", "values": [{%- for value in option.values -%}"{{ value }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}]}{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "optionNames": [{%- for option_name in mod_item.options -%}"{{ option_name }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "optionsWithValues": {
    {%- for option in mod_item.options_with_values -%}
      "{{ option.name }}": [{%- for value in option.values -%}"{{ value }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}]{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  },
  "vendor": "{{ mod_item.vendor }}",
  "discount_percentage": {{ mod_discount_percentage | json }},
  "subscription_id": {{ mod_subscription_id | json }},
  "shipping_interval_unit_type": {{ mod_shipping_interval_unit_type | json }},
  "shipping_interval_frequency": {{ mod_shipping_interval_frequency | json }},
  "has_subscription": {{ mod_has_subscription | downcase | json}},
  "one_time_link": {{ mod_one_time_link | json }},
  "subscribe_link": {{ mod_subscribe_link | json }}
}
{%- endcapture -%}

{%- if mod_encode -%}{{ mod_json | url_encode }}{%- else -%}{{ mod_json }}{%- endif -%}
{%- assign mod_encode = nil -%}
{%- assign mod_json = nil -%}
{%- assign mod_item = nil -%}
{%- assign mod_tags = nil -%}
{%- assign mod_split_tags = nil -%}
{%- assign mod_subscription_product = nil -%}
{%- assign mod_subscription_id = nil -%}
{%- assign mod_shipping_interval_unit_type = nil -%}
{%- assign mod_shipping_interval_frequency = nil -%}
{%- assign mod_discount_percentage = nil -%}
{%- assign mod_discount_floor = nil -%}
{%- assign mod_has_subscription = nil -%}
