<div class="auth__wrapper">
  <div class="auth__container">
    <h1 class="auth__heading">{{ "auth.reset_password.heading" | t }}</h1>
    <p class="auth__text">{{ "auth.reset_password.subheading" | t: email: email }}</p>

    {% form "reset_customer_password" %}
      {%- unless form.posted_successfully? -%}
        <div class="auth__errors">
          {{ form.errors | default_errors }}
        </div>
      {%- endunless -%}

      <div class="form__control form__control--hidden-label">
        <label for="password">{{ "auth.fields.password" | t }}</label>
        <input id="password" type="password" name="customer[password]" class="form__input" placeholder="{{ "auth.fields.password" | t }}" />
      </div>

      <div class="form__control form__control--hidden-label">
        <label for="confirm_password">{{ "auth.fields.confirm_password" | t }}</label>
        <input id="confirm_password" type="password" name="customer[password_confirmation]" class="form__input" placeholder="{{ "auth.fields.confirm_password" | t }}" />
      </div>

      <div class="form__actions">
        <input type="submit" class="button" value="{{ "auth.reset_password.button" | t }}" />
      </div>
    {% endform %}
  </div>
</div>
