{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- assign _flavor_meta = product.metafields.flavor_item -%}
{%- assign _flavor_length = _flavor_meta.color.size -%}
{%- for i in (1.._flavor_length) -%}
  {%- assign _index = i | minus: 1 -%}
  {%- assign _flavor_item_product_handle = _flavor_meta.product[_index] -%}
  {%- if _flavor_item_product_handle == product.handle -%}
    {%- assign current_flavor_color = _flavor_meta.color[_index] -%}
  {%- endif -%}

  {%- assign _flavor_item_color = nil -%}
  {%- assign _flavor_item_product_handle = nil -%}
{%- endfor -%}

{%- if product.metafields.additional_detail.product_title != blank -%}
  {%- assign product_title = product.metafields.additional_detail.product_title | split: '|' -%}
{%- else -%}
  {%- assign product_title = product.title | split: " " -%}
{%- endif -%}

{%- assign word_count = product_title | size | strip -%}

<header class="product__header">
  <h1 class="product__heading">
    {%- for title in product_title -%}
      {% capture current_cycle %}
        {% cycle 'odd', 'even' %}
      {% endcapture %}

      {%- assign current_cycle = current_cycle | strip -%}
      {%- if word_count > '2' -%}
        {%- assign colored_cycle = 'odd' -%}
      {%- else -%}
        {%- assign colored_cycle = 'even' -%}
      {%- endif -%}

      {%- if current_cycle != colored_cycle -%}
        {%- assign class_list = 'product__heading--gray' -%}
      {%- else -%}
        {%- assign class_list = 'product__heading--teal' -%}
      {%- endif -%}

      <span class="{{ class_list }}"
        {% if current_flavor_color and current_cycle == colored_cycle %}
          style="color: {{ current_flavor_color }}"
        {% endif %}
      >
        {{ title }}
      </span>
    {%- endfor -%}

    {% for word in title offset: 2 %}
      <span class="product__heading--first">{{ word }}</span>
    {% endfor %}
  </h1>
</header>

<div class="product__stars">
  {% render 'okendo-reviews-product-rating-summary', product: product %}
</div>

{% unless section.settings.hide_description %}
  <div class="product__description">
    {{ product.description }}
  </div>
{% endunless %}

{%- render "benefits",
  _product: product,
  default_benefits: section.blocks
-%}

{%- if _flavor_length > 0 -%}
  <div class="flavor-items is-fade-effect js-scroll-cover">
    <div class="flavor-items--inner js-scroll-wrapper">
      {%- assign _current_product_title = product.title -%}
      {%- for i in (1.._flavor_length) -%}
        {%- assign _index = i | minus: 1 -%}
        {%- assign _flavor_item_color = _flavor_meta.color[_index] -%}
        {%- assign _flavor_item_product_handle = _flavor_meta.product[_index] -%}
        {%- assign _flavor_item_product_title = _flavor_meta.product_title[_index] -%}
        {%- assign _flavor_item_product = all_products[_flavor_item_product_handle] -%}

        {%- if _flavor_item_product != blank -%}
          {%- if _flavor_item_product_handle == product.handle -%}
            <div
              class="flavor-item"
              style="background-color: {{ _flavor_item_color }};
                border-color: {{ _flavor_item_color }};
                color: #ffffff;"
            >
              {{ product.title }}
            </div>
            {%- assign _current_product_title = _flavor_item_product_title -%}
          {%- else -%}
            <a
              class="flavor-item"
              href="{{ _flavor_item_product.url }}"
              style="color: {{ _flavor_item_color }}; border-color: {{ _flavor_item_color }};"
            >
              {%- if _flavor_item_product_title != blank -%}
                {{ _flavor_item_product_title }}
              {%- else -%}
                {{ _flavor_item_product.title }}
              {%- endif -%}
            </a>
          {%- endif -%}
        {%- endif -%}

        {%- assign _flavor_item_color = nil -%}
        {%- assign _flavor_item_product_title = nil -%}
        {%- assign _flavor_item_product_handle = nil -%}
      {%- endfor -%}
    </div>
    <div class="flavor-items--title">
      select Flavor: {{ _current_product_title }}
    </div>
  </div>
{%- endif -%}

{% unless section.settings.hide_collection %}
  <div class="product__flavours">
    {%- for other_product in collections.fiber.products -%}
      {%- if product.id == other_product.id -%}
        {%- assign button_class = "" -%}
      {%- else - %}
        {%- assign button_class = "button--inactive" -%}
      {%- endif -%}

      <a href="{{ other_product.url }}" class="button {{ button_class }}">{{ other_product.title }}</a>
    {%- endfor -%}
  </div>
{% endunless %}

<form action="/cart/add" data-productid="{{ product.id }}" method="post" data-cart-submit>

  <div class="product-swatches-wrapper{% if product.variants.size < 2 %} hidden{% endif %}">
    <div class="product-swatches--inner js-option-swatches">
      {%- unless product.has_only_default_variant -%}
        {%- for option in product.options_with_values -%}
          {%- assign _option_handle = option.name | handleize -%}

          <div class="product-swatches--title">
            Size: <span class="js-option-label">{{ option.selected_value }}</span>
          </div>
          {%- for value in option.values -%}
            <div
              class="product-swatch hidden-xs js-option-swatch{% if option.selected_value == value %} product-swatch--selected{% endif %}"
              data-attribute="{{ value }}"
              data-attribute-handle="{{ value | handleize }}"
              data-attribute-pos="{{ option.position }}"
              title="{{ value }}">
              {{ value }}
            </div>
          {%- endfor -%}

          <select class="js-option-select visible-xs-block" data-attribute-pos="{{ option.position }}">
            {%- for value in option.values -%}
              <option
                class="product-swatch js-option-select-option"
                {% if option.selected_value == value %}selected{% endif %}
                value="{{ value }}"
                data-attribute="{{ value }}"
                data-attribute-handle="{{ value | handleize }}"
                title="{{ value }}">
                {{ value }}
              </option>
            {%- endfor -%}
          </select>
        {%- endfor -%}
      {%- endunless -%}
    </div>
  </div>

  {%- if product.available -%}{% include "subscription-product" %}{%- endif -%}

  {%- if product.metafields.recharge_settings.gift_with_purchase_banner != blank -%}
    <div class="gift_purchase_banner">
      <div class="gift_purchase_banner_image">
        <img src="{{ product.metafields.recharge_settings.gift_with_purchase_banner }}" />
      </div>
    </div>
  {%- endif -%}

  {%- if product.variants.size > 0 -%}
    <label class="product__variants-wrapper hidden">
      <select class="product__variants-input hidden" name="id" id="product-select-{{ product.id }}" data-productid="{{ produt.id }}">
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}"
            data-price="{{ variant.price | money_with_currency }}"
            {%- for i in (1..3) -%}
              {%- assign _option = "option" | append: i -%}

              data-option-{{ i }}="{{ variant[_option] | handleize }}"
            {%- endfor -%}
          >
            {{ variant.price | money_with_currency }} - {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    </label>
  {%- else -%}
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" data-productid="{{ product.id }}" />
  {%- endif -%}

  <input type="hidden" name="quantity" value="1" />

  {% if section.settings.pin_cart_button and section.settings.show_inline_cart_button %}
    <button class="product__add-button button js-product-add-btn" id="AddToCart" name="add" type="submit" onclick="pintrk('track', 'addtocart');">{{ "product.add_to_cart" | t }} - <span class="js-add-btn-price">
      {% if variant_price != blank %}
        {{ variant_price | money }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    </span></button>
  {% endif %}

  {% if section.settings.pin_cart_button %}
    <div class="button__wrapper button__wrapper--fixed">
      <button class="product__add-button button button--blue js-product-add-btn" id="AddToCart" name="add" type="submit" onclick="pintrk('track', 'addtocart');">{{ "product.add_to_cart" | t }} - <span class="js-add-btn-price">
          {% if variant_price != blank %}
            {{ variant_price | money }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        </span>
      </button>
    </div>
  {% else %}
    <button class="product__add-button button" id="AddToCart" name="add" type="submit" onclick="pintrk('track', 'addtocart');">{{ "product.add_to_cart" | t }} - {{ product.price | money }}</button>
  {% endif %}
</form>

{% schema %}
{
  "class": "product-template",

  "blocks": [
    {
      "type": "benefit",
      "name": "Benefit",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],

  "settings": [
    {
      "id": "common_product_title",
      "type": "text",
      "label": "Common Product Title",
      "default": "Super Fiber | + Fruit"
    },

    {
      "id": "hide_description",
      "type": "checkbox",
      "label": "Hide Description?",
      "default": false
    },

    {
      "id": "stars",
      "type": "range",
      "label": "Stars",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 5
    },

    {
      "id": "hide_collection",
      "type": "checkbox",
      "label": "Hide Product Collection",
      "default": false
    },

    {
      "id": "pin_cart_button",
      "type": "checkbox",
      "label": "Pin Add to Cart button to bottom of screen?",
      "default": true
    },

    {
      "id": "show_inline_cart_button",
      "type": "checkbox",
      "label": "Show inline cart button as well as pinned?",
      "default": false
    }
  ]
}
{% endschema %}
